.index-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 260px;
  height: 100%;
  background: #fff;
  .sidermenu {
    width: 260px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .form-control:focus {
    box-shadow: none;
  }
}
